{:paths ["src" "resources" "resources/cljs"]
 :deps {io.github.jmglov/cljcastr {:local/root "."}}
 :tasks
 {:requires ([babashka.fs :as fs]
             [cljcastr.tasks :as tasks])
  :init (def opts
          (merge tasks/default-opts
                 {:http-root ".public"
                  :http-port 8081
                  :nrepl-port 1339
                  :websocket-port 1340
                  :favicon-dir ""}))

  http-server (tasks/http-server opts)

  browser-nrepl (tasks/browser-nrepl opts)

  -dev {:depends [http-server browser-nrepl]}

  dev {:task (do (run '-dev {:parallel true})
                 (deref (promise)))}

  render {:doc "Build site"
          :task (tasks/render
                 (assoc opts :out-dir (:http-root opts)))}

  clean {:doc "Remove dev HTTP root"
         :task (fs/delete-tree (:http-root opts))}

  test {:doc "Run tests"
        :task (apply clojure "-M:test" *command-line-args*)}

  }}
