{:paths ["src" "resources" "resources/cljs"]
 :deps {org.babashka/cli {:mvn/version "0.8.65"}
        babashka/fs {:mvn/version "0.5.26"}
        babashka/process {:mvn/version "0.6.23"}
        cheshire/cheshire {:mvn/version "6.0.0"}
        io.github.babashka/sci.nrepl {:git/sha "1042578d5784db07b4d1b6d974f1db7cabf89e3f"}
        io.github.babashka/http-server {:git/sha "c7fefc73480ed82b4cc7401ca6e5b6ef1010d4ae"}
        selmer/selmer {:mvn/version "1.12.62"}}
 :aliases
 {

  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :exec-args {:cmd "bb test"}
   :main-opts ["-m" "babashka.cli.exec"]
   :exec-fn cljcastr.test-runner/test}

  }}
