<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>{{podcast.title}} Transcript Editor</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/{{css-dir}}/transcribe.css">

  <!-- Favicon from https://realfavicongenerator.net/ -->
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="cljcastr" />
  <link rel="manifest" href="/site.webmanifest" />

  <script src="https://cdn.jsdelivr.net/npm/scittle@0.7.28/dist/scittle.js" type="application/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/scittle@0.7.28/dist/scittle.promesa.js" type="application/javascript"></script>
{% if dev %}
  <script>var SCITTLE_NREPL_WEBSOCKET_PORT = {{websocket-port}};</script>
  <script>var CLJCASTR_LOG_LEVEL = "debug";</script>
  <script src="https://cdn.jsdelivr.net/npm/scittle@0.7.28/dist/scittle.nrepl.js" type="application/javascript"></script>
{% else %}
  <script>var CLJCASTR_LOG_LEVEL = "info";</script>
{% endif %}
{% for file in cljcastr-transcribe.files %}
  <script type="application/x-scittle" src="/{{cljs-dir}}/{{file}}"></script>
{% endfor %}
</head>

<body>

  <div id="container">

    <h1>{{podcast.title}} Transcript Editor</h1>

    <div id="message" style="display: none;">
    <span id="message-text"></span>
    <input id="close-message-button" type="image" alt="Close message"
      src="/{{image-dir}}/close-button.svg" />
    </div>

    <div id="file-controls" class="controls">
      <div id="audio-file-controls" class="file-controls">
        <label for="audio-file">
          <button id="audio-file-button">Open audio file</button>
        </label>
        <input id="audio-file" type="file" accept="audio/*" />
      </div>
      <div id="transcript-file-controls" class="file-controls">
        <label for="transcript-file">
          <button id="transcript-file-button">Import transcript file</button>
        </label>
        <input id="transcript-file" type="file" accept=".edn" />
      </div>
    </div>

    <div id="url-controls" class="controls">
      <button id="audio-url-button" type="button">Open audio URL</button>
      <input id="audio-url" type="text" />
      <button id="transcript-url-button" type="button">Import transcript URL</button>
      <input id="transcript-url" type="text" />
    </div>

    <div id="export-controls" class="controls">
      <button id="export" type="button" value="Export">Export transcript</button>
      <button id="clear" type="button" value="Clear">Clear transcript</button>
    </div>

    <div class="keybindings">
      <div>
        <span class="key">Ctrl-j</span><span class="command">Add timestamp</span>
      </div>
      <div>
        <span class="key">Ctrl-k</span><span class="command">Remove timestamp</span>
      </div>
    </div>

    <div id="audio-controls" style="display: none;">
      <audio preload="auto"></audio>
      <div class="audio-control">
        <span id="audio-ts">00:00</span>/<span id="audio-dur">00:00</span>
      </div>
    <div class="audio-control">
        <input id="play-button" type="image" alt="Play" title="Play"
          src="/{{image-dir}}/play-button.svg" />
        <input id="pause-button" type="image" alt="Pause" title="Pause"
          src="/{{image-dir}}/pause-button.svg"
            style="display: none;" />
        <span>Esc</span>
      </div>
      <div class="audio-control">
        <input id="rewind-button" type="image" alt="Rewind" title="Rewind"
          src="/{{image-dir}}/rewind-button.svg" />
        <span>F1</span>
      </div>
      <div class="audio-control">
        <input id="fast-forward-button" type="image" alt="Fast Forward" title="Fast Forward"
          src="/{{image-dir}}/fast-forward-button.svg" />
        <span>F2</span>
      </div>
      <div class="audio-control">
        <input id="slow-down-button" type="image" alt="Slow Down" title="Slow Down"
          src="/{{image-dir}}/speed-meter.svg" />
        <span>F3</span>
        <span id="audio-rate">1x</span>
        <input id="speed-up-button" type="image" alt="Speed Up" title="Speed Up"
          src="/{{image-dir}}/speed-meter.svg" style="transform: rotateY(180deg)" />
        <span>F4</span>
      </div>
    </div>

    <div id="textbox"></div>

  </div>

</body>

</html>
