body {
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}

select {
  width: 300px;
}

div#sources {
  display: flex;
  margin-bottom: 10px;
}

div#stop {
  padding-left: 10px;
}
