#container > h1 {
  padding: 5px;
}

#container > div {
  padding: 5px;
}

.controls {
  padding: 5px;
}

#message {
  display: none;
  border: solid thin;
  font-weight: bold;
  justify-content: space-between;
  padding: 5px;
}

#message.error {
  background-color: pink;
}

#message.warn {
  background-color: lightyellow;
}

#message.info {
  background-color: lightcyan;
}

#message.debug {
  background-color: lightgrey;
}

#message > span {
  font-weight: bold;
  padding: 5px;
}

#close-message-button {
  align-self: center;
  height: 1.5em;
}

.keybindings {
  display: flex;
  column-gap: 10px;
}

span.key {
  border: thin solid;
  border-radius: 5px;
  padding: 2px;
  margin-right: 5px;
}

#textbox {
  margin: 5px;
  min-height: 2em;
  outline: solid thin;
  padding: 5px;
}

#textbox span {
  padding: 5px;
  outline: 0px solid transparent;
  line-height: 1.5em;
}

#textbox span:focus {
  background-color: lightyellow;
}

.transcript-ts {
  color: blue;
  cursor: pointer;
  font-weight: bold;
  margin-right: 0.5em;
  text-decoration: underline;
}

.transcript-speaker {
  font-weight: bold;
  margin-right: 0.5em;
}

.example {
  color: grey;
  font-style: italic;
}

#audio-controls {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.audio-control {
  display: flex;
  align-items: center;
  column-gap: 5px;
  height: 3em;
}

.audio-control input {
  height: 100%;
  /* See https://angel-rs.github.io/css-color-filter-generator/ */
  filter: brightness(0)
          saturate(100%)
          invert(9%)
          sepia(100%)
          saturate(6982%)
          hue-rotate(246deg)
          brightness(74%)
          contrast(128%);
}

.audio-control span {
  font-size: 1.5em;
}

#audio-rate {
  margin-left: 10px;
  margin-right: 10px;
}
