.controls {
  padding: 5px;
}

#message {
  display: none;
  border: solid thin;
  font-weight: bold;
  justify-content: space-between;
  padding: 5px;
}

#message.error {
  background-color: pink;
}

#message.warn {
  background-color: lightyellow;
}

#message.info {
  background-color: lightcyan;
}

#message.debug {
  background-color: lightgrey;
}

#message > span {
  font-weight: bold;
  padding: 5px;
}

#close-message-button {
  align-self: center;
  height: 1.5em;
}

#textbox {
  margin: 5px;
  outline: solid thin;
  padding: 5px;
}

.transcript-ts {
  color: blue;
  cursor: pointer;
  font-weight: bold;
  margin-right: 0.5em;
  text-decoration: underline;
}

.transcript-speaker {
  font-weight: bold;
  margin-right: 0.5em;
}
