<!-- For local dev -->

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>
    {{podcast.title}} Episode {{episode.number}} - {{episode.title}}
  </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% for stylesheet in stylesheets %}
  <link rel="stylesheet" href="{{stylesheet}}">
{% endfor %}
  <!-- Favicon from https://realfavicongenerator.net/ -->
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/site.webmanifest" />

  <script src="https://cdn.jsdelivr.net/npm/scittle@0.7.28/dist/scittle.js" type="application/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/scittle@0.7.28/dist/scittle.promesa.js" type="application/javascript"></script>
{% if dev %}
  <script>var CLJCASTR_PLAYER_DEV = true;</script>
  <script>var SCITTLE_NREPL_WEBSOCKET_PORT = {{websocket-port}};</script>
  <script src="https://cdn.jsdelivr.net/npm/scittle@0.7.28/dist/scittle.nrepl.js" type="application/javascript"></script>
{% endif %}
  <script>var CLJCASTR_PLAYER_OPTS = {{cljcastr-player.opts|json|safe}}</script>
{% for file in cljcastr-player.files %}
  <script type="application/x-scittle" src="/{{cljs-dir}}/{{file}}"></script>
{% endfor %}
</head>

<body>

  <h1 id="title" class="header">Episode {{episode.number}} - {{episode.title}}</h1>
        
  <!-- cljcastr player -->
  <audio id="cljcastr-player-audio" preload="metadata" src=""></audio>
  <div id="cljcastr-player-timeline-wrapper">
    <div id="cljcastr-player-timeline">
      <span id="cljcastr-player-position" class="cljcastr-player-timeline">00:00 / 00:00</span>
      <canvas class="cljcastr-player-timeline cljcastr-player-clickable" width="165" height="10"></canvas>
      <img id="cljcastr-player-volume" class="cljcastr-player-clickable" src="{{cljcastr-player.volume-image}}" />
      <span id="cljcastr-player-speed" class="cljcastr-player-timeline cljcastr-player-clickable">1x</span>
    </div>
  </div>

  <div id="cljcastr-player-controls"></div>
  <!-- /cljcastr player -->

  <div id="cljcastr-player-episode-info">
    <div id="cljcastr-player-description">
      {{episode.description | safe}}
    </div>
  </div>
        
  <div id="transcript">
    <h1>Transcript</h1>
    <div id="transcript-body"></div>
  </div>
    
</body>
    
</html>
